__pycache__/

**/.idea/

**/node_modules


server_nodejs/fabric_sdk_node/wallet/*
**/vendor


# explorer
network_fabric/explorer/organizations/
network_fabric/server_nodejs/fabric_sdk_node/wallet/*
network_fabric/server_nodejs/fabric_sdk_node/wallet/admin.id
